<html>
  <head>
    <title>Next page</title>
  </head>
  <body>
    Hello
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="py-2 px-2 border-b bg-gray-100">Serial</th>
          <th class="py-2 px-2 border-b bg-gray-100">Name</th>
          <th class="py-2 px-4 border-b bg-gray-100">Email</th>
          <th class="py-2 px-4 border-b bg-gray-100">ghatak</th>
          <th class="py-2 px-4 border-b bg-gray-100">pradeshik</th>
        </tr>
      </thead>
      {% for contact in data %}
      <tbody>
        <tr>
          <td align="center" class="py-2 px-1 border-b">{{ contact.id }}</td>
          <td align="center" class="py-2 px-1 border-b">{{ contact.name }}</td>
          <td class="py-2 px-6 border-b">{{ contact.email }}</td>
          <td class="py-2 px-4 border-b">{{ contact.ghatak }}</td>
          <td class="py-2 px-4 border-b">{{ contact.pradeshik }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </body>
</html>
