<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E Vastik Patark Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-[#f5f5dc] text-gray-800">
    <div
      class="max-w-4xl mx-auto px-4 sm:px-8 py-8 mt-10 bg-white rounded-lg shadow-lg"
    >
      <h1 class="text-3xl font-bold text-[#006400] mb-6 text-center">
        E Vastik Patark Form
      </h1>
      <h2 class="text-2xl font-bold text-[#006459] mb-6 text-center">
        For Mahasabha 25-26
      </h2>
      <form class="space-y-6 sm:space-y-8" method="POST" action="/">
        <!-- Section 1: Contact Info -->
        <section>
          <h2 class="text-xl font-semibold text-[#006400] mb-4">
            Contact Information
          </h2>
          <div>
            <label for="email" class="block font-medium mb-1">
              Email <span class="text-red-500">*</span>
            </label>
            <input
              id="email"
              type="email"
              name="email"
              value="{{ fam.email }}"
              required
              placeholder="Enter your email"
              class="w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-[#006400]"
            />
          </div>
        </section>

        <!-- Section 2: Ghatak & Pradeshik -->
        <section>
          <h2 class="text-xl font-semibold text-[#006400] mb-4">
            Ghatak and Pradeshik
          </h2>

          <!-- Ghatak -->
          <div>
            <label for="ghatak" class="block font-medium mb-1">
              Ghatak <span class="text-red-500">*</span>
            </label>
            <select
              id="ghatak"
              name="ghatak"
              required
              class="w-full border border-gray-300 p-2 rounded-md mb-2"
            >
              <option value="" disabled>Select Ghatak</option>
              <option value="pune" {% if fam.ghatak == "pune" %}selected{% endif %}>Pune</option>
            </select>
          </div>

          <!-- Pradeshik -->
          <div>
            <label for="pradeshik" class="block font-medium mb-1">
              Pradeshik <span class="text-red-500">*</span>
            </label>
            <select
              id="pradeshik"
              name="pradeshik"
              required
              class="w-full border border-gray-300 p-2 rounded-md mb-2"
            >
              <option value="" disabled selected>Select Pradeshik</option>
              <option value="mumbai" {% if fam.pradeshik == "mumbai" %}selected{% endif %}>Mumbai</option>
            </select>
          </div>
        </section>

        <!-- Section 3: Family Details -->
        <section>
          <h2 class="text-xl font-semibold text-[#006400] mb-4">
            Family Details
          </h2>

          <!-- Full Name -->
          <div>
            <label class="block font-medium mb-1">
              Full Name of Family Head <span class="text-red-500">*</span>
            </label>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
              <input
                type="text"
                id="first_name"
                name="first_name"
                value="{{ fam.name.split(' ')[0] }}"
                required
                placeholder="First Name"
                minlength="3"
                maxlength="20"
                class="border border-gray-300 p-2 rounded-md"
              />
              <input
                type="text"
                id="middle_name"
                name="middle_name"
                value="{{ fam.name.split(' ')[1] }}"
                required
                placeholder="Middle Name"
                minlength="3"
                maxlength="20"
                class="border border-gray-300 p-2 rounded-md"
              />
              <input
                type="text"
                id="last_name"
                name="last_name"
                value="{{ fam.name.split(' ')[2] }}"
                required
                placeholder="Last Name"
                minlength="3"
                maxlength="20"
                class="border border-gray-300 p-2 rounded-md"
              />
            </div>
          </div>

          <!-- Kuldevi -->
          <div>
            <label class="block font-medium mb-1">
              Kuldevi Name <span class="text-red-500">*</span>
            </label>
            <div class="flex flex-wrap gap-4">
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Brahmani Maa" {% if 'Brahmani Maa' in fam.k_name %}checked{% endif %}/>
                <span>Brahmani Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input
                  type="checkbox"
                  name="kuldevi[]"
                  value="Butbhavani Maa"
                       {% if 'Butbhavani Maa' in fam.k_name %}checked{% endif %}
                />
                <span>Butbhavani Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Chamunda Maa" {% if 'Chamunda Maa' in fam.k_name %}checked{% endif %}/>
                <span>Chamunda Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Chaval Maa" {% if 'Chaval Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Chaval Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Gatrad Maa" {% if 'Gatrad Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Gatrad Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Kalika Maa" {% if 'Kalika Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Kalika Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Khodiar Maa" {% if 'Khodiar Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Khodiar Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Momai Maa" {% if 'Momai Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Momai Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Pithad Maa" {% if 'Pithad Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Pithad Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Saval Maa" {% if 'Saval Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Saval Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Sikoter Maa" {% if 'Sikoter Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Sikoter Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Vishal Maa" {% if 'Vishal Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Vishal Maa</span>
              </label>
              <label class="flex items-center space-x-2">
                <input type="checkbox" name="kuldevi[]" value="Truthiad Maa" {% if 'Truthiad Maa' in fam.k_name %}checked{% endif %}/>/>
                <span>Truthiad Maa</span>
              </label>
            </div>
          </div>

          <!-- Kuldevi Village -->
          <div>
            <label for="kuldevi_village" class="block font-medium mb-1">
              Kuldevi Village <span class="text-red-500">*</span>
            </label>
            <select
              id="kuldevi_village"
              name="kuldevi_village"
              required
              class="w-full border border-gray-300 p-2 rounded-md"
            >
              <option value="" disabled>Select village</option>
              <option value="anjar" {% if fam.k_village == "anjar" %}selected{% endif %}>Anjar</option>
              <option value="chandia" {% if fam.k_village == "chandia" %}selected{% endif %}>Chandia</option>
              <option value="devaliya" {% if fam.k_village == "devaliya" %}selected{% endif %}>Devaliya</option>
              <option value="galpadar" {% if fam.k_village == "galpadar" %}selected{% endif %}>Galpadar</option>
              <option value="hajapar" {% if fam.k_village == "hajapar" %}selected{% endif %}>Hajapar</option>
              <option value="jambudi" {% if fam.k_village == "jambudi" %}selected{% endif %}>Jambudi</option>
              <option value="khambhra" {% if fam.k_village == "khambhra" %}selected{% endif %}>Khambhra</option>
              <option value="khedol" {% if fam.k_village == "khedol" %}selected{% endif %}>Khedol</option>
              <option value="kumbharia" {% if fam.k_village == "kumbharia" %}selected{% endif %}>Kumbharia</option>
              <option value="kukma" {% if fam.k_village == "kukma" %}selected{% endif %}>Kukma</option>
              <option value="lovaria" {% if fam.k_village == "lovaria" %}selected{% endif %}>Lovaria</option>
              <option value="madhapar" {% if fam.k_village == "madhapar" %}selected{% endif %}>Madhapar</option>
              <option value="meghpar" {% if fam.k_village == "meghpar" %}selected{% endif %}>Meghpar</option>
              <option value="nagalpar" {% if fam.k_village == "nagalpar" %}selected{% endif %}>Nagalpar</option>
              <option value="nagor" {% if fam.k_village == "nagor" %}selected{% endif %}>Nagor</option>
              <option value="reha" {% if fam.k_village == "reha" %}selected{% endif %}>Reha</option>
              <option value="sinogara" {% if fam.k_village == "sinogara" %}selected{% endif %}>Sinogara</option>
              <option value="vidi" {% if fam.k_village == "vidi" %}selected{% endif %}>Vidi</option>
            </select>
          </div>

          <!-- Native Village -->
          <div>
            <label for="native_village" class="block font-medium mb-1">
              Native Village <span class="text-red-500">*</span>
            </label>
            <select
              id="native_village"
              name="native_village"
              required
              class="w-full border border-gray-300 p-2 rounded-md"
            >
              <option value="" disabled>Select village</option>
              <option value="anjar" {% if fam.k_village == "anjar" %}selected{% endif %}>Anjar</option>
              <option value="chandia" {% if fam.k_village == "chandia" %}selected{% endif %}>Chandia</option>
              <option value="devaliya" {% if fam.k_village == "devaliya" %}selected{% endif %}>Devaliya</option>
              <option value="galpadar" {% if fam.k_village == "galpadar" %}selected{% endif %}>Galpadar</option>
              <option value="hajapar" {% if fam.k_village == "hajapar" %}selected{% endif %}>Hajapar</option>
              <option value="jambudi" {% if fam.k_village == "jambudi" %}selected{% endif %}>Jambudi</option>
              <option value="khambhra" {% if fam.k_village == "khambhra" %}selected{% endif %}>Khambhra</option>
              <option value="khedol" {% if fam.k_village == "khedol" %}selected{% endif %}>Khedol</option>
              <option value="kumbharia" {% if fam.k_village == "kumbharia" %}selected{% endif %}>Kumbharia</option>
              <option value="kukma" {% if fam.k_village == "kukma" %}selected{% endif %}>Kukma</option>
              <option value="lovaria" {% if fam.k_village == "lovaria" %}selected{% endif %}>Lovaria</option>
              <option value="madhapar" {% if fam.k_village == "madhapar" %}selected{% endif %}>Madhapar</option>
              <option value="meghpar" {% if fam.k_village == "meghpar" %}selected{% endif %}>Meghpar</option>
              <option value="nagalpar" {% if fam.k_village == "nagalpar" %}selected{% endif %}>Nagalpar</option>
              <option value="nagor" {% if fam.k_village == "nagor" %}selected{% endif %}>Nagor</option>
              <option value="reha" {% if fam.k_village == "reha" %}selected{% endif %}>Reha</option>
              <option value="sinogara" {% if fam.k_village == "sinogara" %}selected{% endif %}>Sinogara</option>
              <option value="vidi" {% if fam.k_village == "vidi" %}selected{% endif %}>Vidi</option>
            </select>
          </div>

          <!-- Gotra -->
          <div>
            <label for="gotra" class="block font-medium mb-1">Gotra</label>
            <select
              id="gotra"
              name="gotra"
              class="w-full border border-gray-300 p-2 rounded-md"
            >
              <option value="" disabled selected>Select Gotra</option>
              <option value="ATREE" {% if fam.k_village == "ATREE" %}selected{% endif %}>ATREE</option>
              <option value="BHARDWAJ" {% if fam.k_village == "BHARDWAJ" %}selected{% endif %}>BHARDWAJ</option>
              <option value="GARG" {% if fam.k_village == "GARG" %}selected{% endif %}>GARG</option>
              <option value="GAUTAM" {% if fam.k_village == "GAUTAM" %}selected{% endif %}>GAUTAM</option>
              <option value="KASHYAP" {% if fam.k_village == "KASHYAP" %}selected{% endif %}>KASHYAP</option>
              <option value="KAUDINYA" {% if fam.k_village == "KAUDINYA" %}selected{% endif %}>KAUDINYA</option>
              <option value="SANKADI" {% if fam.k_village == "SANKADI" %}selected{% endif %}>SANKADI</option>
              <option value="SHANDIL" {% if fam.k_village == "SHANDIL" %}selected{% endif %}>SHANDIL</option>
              <option value="SHAUNAK" {% if fam.k_village == "SHAUNAK" %}selected{% endif %}>SHAUNAK</option>
              <option value="SONAL" {% if fam.k_village == "SONAL" %}selected{% endif %}>SONAL</option>
              <option value="VALMIK" {% if fam.k_village == "VALMIK" %}selected{% endif %}>VALMIK</option>
              <option value="VARSHA" {% if fam.k_village == "VARSHA" %}selected{% endif %}>VARSHA</option>
              <option value="VASHISHTHA" {% if fam.k_village == "VASHISHTHA" %}selected{% endif %}>VASHISHTHA</option>
              <option value="VATSA" {% if fam.k_village == "VATSA" %}selected{% endif %}>VATSA</option>
              <option value="VISHVAMITRA" {% if fam.k_village == "VISHVAMITRA" %}selected{% endif %}>VISHVAMITRA</option>
              <option value="OTHER" {% if fam.k_village == "OTHER" %}selected{% endif %}>OTHER</option>
            </select>
          </div>
        </section>

        <!-- Section 4: Address & Contact -->
        <section>
          <h2 class="text-xl font-semibold text-[#006400] mb-4">
            Address and Contact
          </h2>

          <!-- Residential Address -->
          <div>
            <label class="block font-medium mb-1"
              >Residential Address <span class="text-red-500">*</span></label
            >
            <input
              id="address1"
              type="text"
              name="building"
                   value="{{ fam.res_add.split(' | ')[0] }}"
              required
              placeholder="Building Name"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="address2"
              type="text"
              name="area"
                   value="{{ fam.res_add.split(' | ')[1] }}"
              required
              placeholder="Area"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="address3"
              type="text"
              name="street"
                   value="{{ fam.res_add.split(' | ')[2] }}"
              required
              placeholder="Road/Street"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="address4"
              type="text"
              name="landmark"
                   value="{{ fam.res_add.split(' | ')[3] }}"
              placeholder="Landmark (optional)"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="address5"
              type="text"
              name="pincode"
                   value="{{ fam.res_add.split(' | ')[4] }}"
              required
              placeholder="Pincode (6 digits)"
              pattern="\d{6}"
              maxlength="6"
              minlength="6"
              class="w-full border p-2 rounded-md mb-2"
            />
          </div>

          <!-- Residential Phone -->
          <div>
            <label for="res_phone" class="block font-medium mb-1">
              Residential Phone Number <span class="text-red-500">*</span>
            </label>
            <input
              type="text"
              id="res_phone"
              name="res_phone"
                   value="{{ fam.res_phone }}"
              required
              minlength="10"
              maxlength="10"
              placeholder="Enter number"
              class="w-full border border-gray-300 p-2 rounded-md"
            />
          </div>

          <!-- Office Address -->
          <div>
            <label class="block font-medium mb-1"
              >Office Address (optional)</label
            >
            <input
              id="office1"
              type="text"
              name="office_building"
                   value="{{ fam.off_add.split(' | ')[0] }}"
              placeholder="Building Name"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="office2"
              type="text"
              name="office_area"
                   value="{{ fam.off_add.split(' | ')[0] }}"
              placeholder="Area"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="office3"
              type="text"
              name="office_street"
              placeholder="Road/Street"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="office4"
              type="text"
              name="office_landmark"
              placeholder="Landmark"
              class="w-full border p-2 rounded-md mb-2"
            />
            <input
              id="office5"
              type="text"
              name="office_pincode"
              placeholder="Pincode (6 digits)"
              pattern="\d{6}"
              maxlength="6"
              minlength="6"
              class="w-full border p-2 rounded-md mb-2"
            />
          </div>

          <!-- Office Phone -->
          <div>
            <label for="office_phone" class="block font-medium mb-1">
              Office Phone Number (optional)
            </label>
            <input
              type="text"
              id="office_phone"
              name="office_phone"
              placeholder="Enter number"
              minlength="10"
              maxlength="10"
              class="w-full border border-gray-300 p-2 rounded-md"
            />
          </div>
        </section>

        <!-- Section 5: Family Members -->
        <section>
          <div>
            <label for="family_members" class="block font-medium mb-1">
              Number of Family Members <span class="text-red-500">*</span>
            </label>
            <select
              id="family_members"
              name="family_members"
              required
              class="w-full border border-gray-300 p-2 rounded-md"
            >
              <option value="" disabled selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15+</option>
            </select>
          </div>
        </section>

        <!-- Submit -->
        <div class="text-center mt-6 sm:mt-8">
          <button
            type="submit"
            class="w-full sm:w-auto bg-[#006400] text-white font-semibold py-2 px-6 rounded hover:bg-green-800"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
