<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <h1>
      Login
    </h1>
    <form action="/" method="POST">
      <fieldset>
        <label>Username</label>
        <input type="text" minlenght="8" maxlenght="15">
        <label>Password</label>
        <input type="password" minlenght="8" maxlenght="15">
      </fieldset>
      <button type="submit">
        Login
      </button>
    </form>
  </body>
</html>