<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main page</title>
  </head>
  <body>
    <h1>
      Main Page
    </h1>
    <a href="/logout">Logout</a>
    <form action="/" method="POST">
      <fieldset>
        <legend>
          General Information
        </legend>
        <label for="name">Name<input id="name" name="name" type="text" minlenght="3" maxlenght="15" placeholder="Enter your name"></label>
        <label for="email">email<input id="email" name="email" type="email" minlenght="3" maxlenght="15" placeholder="Enter your eamil"></label>
        <label for="ghatak">ghatak<input id="ghatak" name="ghatak" type="text" minlenght="3" maxlenght="15" placeholder="Enter your ghatak"></label>
        <label for="pradeshik">pradeshik<input id="pradeshik" name="pradeshik" type="text" minlenght="3" maxlenght="15" placeholder="Enter your pradeshik"></label>
        Full Name of Family Head
        Kuldevi name
        Kuldevi's Village
        Native Place
        Your Family Gotra
        Residential Address
        Residential PIN CODE 
        Residential Phone no.
        Office Address
        Office PIN CODE
        Office Phone no.
        How many family members are there?
      </fieldset>
      <button type="submit">
        Submit
      </button>
    </form>
    <a href="/admin_panel">View results</a>
  </body>
</html>